@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(61, 61, 61);
}

a:link,
a:visited {
  color: rgb(141, 141, 141);
  text-decoration: none;
  font-size: 18px;
  text-shadow: 1px #555;
  font-family: Arial, Helvetica, sans-serif;

}

a:hover {
  color: #C43B59;
}

a:active {
  text-shadow: -1px -1px 1px #555;
  position: relative;
  top: 2px;
  left: 2px;
}

body {
  background-color: #f4f4f4;
}

.login-block {
  text-align: center;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-block h4 {
  margin-bottom: 50px;
  color: #3BC4A6;
}

.login-block .links {
  margin-left: auto;
  margin-bottom: 30px;
}

.login-block a {
  width: 200px;

  text-decoration: none;
  padding: 6px;
  color: #C43B59;
}

.login-block a:hover {
  background-color: #a9e6d9;
  border-radius: 3px;
}

.medic-login-block {
  text-align: center;
  display: block;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.medic-login-block section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.medic-login-block form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 0.5rem;
}



.medic-login-block input[type="text"],
.medic-login-block input[type="date"],
.medic-login-block input[type="number"],
.medic-login-block input[type="password"],
.medic-login-block button,
.medic-login-block textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  margin: 0 auto;
  width: 30%;
  border-radius: 0.3rem;
}

.medic-login-block label,
.medic-login-block button {
  margin-top: 1rem;
}

.medic-login-block button {
  padding: 0.5rem;
}

.medic-login-block button:hover {
  background-color: #C43B59;
  color: #e1e1e1;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}




.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 2px solid #e4e4e4;
}

.navbar h1 {
  color: #3BC4A6;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #C43B59
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.about-block {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.about-block {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.about-block h2 {
  font-size: 20px;
  color: #3BC4A6;
  margin-bottom: 8px;
}

.about-block a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #3BC4A6;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #3BC4A6;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #3BC4A6;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #3BC4A6;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.contact-block {
  width: 800px;

}

.contact-block h3 {
  color: #3BC4A6;
  margin-bottom: 50px;

}

.contact-block p:hover {
  color: #C43B59;
}

.contact-block p {
  display: inline;
  margin-left: 30px;
}

.registerSection {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #e4e4e4;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

/* a,
a:visited {
  color: #fff;
} */

.registerInput,
.registerButton,
.registerTextarea textarea {
  /* font-family: 'Nunito', sans-serif; */
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.3rem;
}

.registerLabel,
.registerButton {
  margin-top: 0.5rem;
}

.registerButton {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.3rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  /* border: 2px solid yellow; */
}

.flex-child:first-child {
  margin-right: 90px;
}

.text-right {
  text-align: right;
}

.pacient-info,
h4 {
  padding-bottom: 10px;
  font-weight: normal;

}

.pacient-info {
  padding-left: 50px;
}